[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"

[packages]
setuptools = "*"
pyyaml = "*"
"boto3" = "*"
sqlalchemy = "*"
coverage = "*"
requests = "*"

[requires]
python_version = "3.6"
